* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

.container {
  display: flex;
  width: 792px;
  height: 1120px;
  overflow: hidden;
}

.sidebar {
  position: relative;
  padding: 36px 0 10px;
  background: rgb(187, 118, 214);
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.select-locale {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.photo {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.photo img {
  width: 100%;
}

.details {
  padding: 0 10px;
}
.details-title {
  color: white;
}
.details-list {
  padding-left: 18px;
  list-style: none;
}
.details-item {
  color: white;
}
.skils {
  padding: 0 10px;
}
.skils-list {
  padding-left: 18px;
  list-style: none;
}
.skils-title {
  color: white;
}
.skils-item {
  color: white;
}

.languages {
  padding: 0 10px;
  list-style: none;
  width: 100%;
  color: white;
}
.language-list {
  list-style: none;
  padding-top: 10px;
  padding-left: 18px;
}
.language-item {
  /* width: 100%; */
  color: white;
  padding: 4px;
}

.content {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.name {
  color: #a81f91;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 0px;
}
.programmer {
  color: rgba(205, 95, 249, 0.914);
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 500px;

  color: rgb(151, 12, 142);
}
.projects {
  width: 100%;
  color: rgb(136, 11, 161);
}

.projects-list {
  padding-top: 10px;
  padding-left: 18px;

  list-style: none;
}
.projects-item {
  display: flex;
  /* justify-content: space-between; */
}
.dotted {
  flex: 1;
  border-bottom: 2px dotted;
  margin: 4px;
  color: rgb(187, 118, 214);
}

.projects-item_title {
  color: rgb(187, 118, 214);
  font-weight: bold;
}

.projects-item_title:hover {
  color: rgb(187, 118, 214);
  font-weight: bold;
}

.projects-item_link {
  position: relative;
}

.projects-item_link a {
  color: rgb(187, 118, 214);
  text-decoration: none;
}

.projects-item_link::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all, 0.4s;
}

.projects-item_link:hover.projects-item_link::before {
  width: 100%;
  left: 0;
  background: rgb(187, 118, 214);
}
.work {
  width: 100%;
}
.works-title {
  width: 100%;
  color: rgb(136, 11, 161);
}
.position {
  padding-top: 15px;
  padding-left: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: rgb(187, 118, 214);
  margin-bottom: 10px;
}
.organisation {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding-left: 10px;
  color: #e60a8ade;
}
.period {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.vertical-line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #412d47;
}
.work-list {
  list-style: none;
}
.work-list-item {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #580463e0;
}
.education {
  width: 100%;

  color: rgb(136, 11, 161);
}
.educational-institution {
  padding-top: 10px;
  padding-left: 18px;
  color: rgb(187, 118, 214);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}
.faculty {
  color: #e60a8ade;
  padding-left: 18px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.study-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
